language: node_js
node_js: node
sudo: required
services:
    - docker

before_install:
    - docker build -t cretus/docker-react -f Dockerfile.dev .

script:
    - docker run -e CI=true cretus/docker-react npm run test -- --coverage
deploy:
    provider: elasticbeanstalk
    region: "us-west-2"
    app: "sample-app"
    env: "SampleApp-env"
    access_key_id: 
      secure: "$AWS_ACCESS_KEY"
    secret_access_key:
      secure: "$AWS_SECRET_KEY"
    bucket_name: "elasticbeanstalk-us-west-2-275267023652"
    backet_path: "sample-app"
    on:
        branch: master 
    skip_cleanup: true