sudo: required
language: node_js
node_js: 
  - "stable"
services:
  - docker

before_install:
  - docker build -t cretus/docker-react -f Dockerfile.dev .

script:
  - docker run cretus/docker-react npm run test -- --coverage

deploy:
  provider: elasticbeanstalk
  region: "us-west-2"
  app: "docker"
  env: "Docker-env"
  bucket_name: "elasticbeanstalk-us-west-2-275267023652"
  bucket_path: "docker"
  zip_file: "docker.zip"
  skip_cleanup: true
  only_create_app_version: false
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY

env:
  global:
    secure: $AWS_SECRET_KEY

